.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
  filter: invert(100%);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.listclass {
  display: flex;
  align-items: center;

}

ul{
  -webkit-padding-start: 0px;
  list-style: none;
  display:inline-block;
  width:420px;
}

ul li{
  display: flex;
  justify-content: space-between;
  border:6px solid black;
  display: block;
  padding: 15px 20px;
  margin-bottom: 3px;
  position: relative;
  font:14px normal Arial, san-serif;
  color: black;
  background-color: #fff;
}

input[type = text]{
  text-align: center;
  /*border:6px solid black;*/
  padding: 13px 12px;
  font-size: 15px;
  box-shadow: 0 1px #ddd;
  width:384px;
  outline: none;
  display:block;
  color:black;
  margin: 0 auto 20px;
  margin-top: 20px;
}

ul li:hover{
  border:6px solid red;
  cursor: pointer;

}

.popout {
  z-index: 2;
  width: 500px;
  height: 500px;
  border:6px solid black;
  background-color: #fff;
  position: absolute;
  top: 275px;
  left: 320px;
}

.invisible {
  display: none;
}
